* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/shinkansen.jpeg');
    background-size: cover;
    font-family: sans-serif;
}

.my_train {
    width: 600px;
    background-color: rgb(192, 132, 248);
}