* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/shinkansen.jpeg');
    background-size: cover;
    font-family: sans-serif;
}

.my_train {
    width: 600px;
    background-color: rgb(192, 132, 248);
}

.my_Fcolor {
    color: cornflowerblue;
}

.my_logo {
    width: 40px;
    height: 40px;
    background-color: rgb(192, 132, 248);
}

.card {
    color: rgb(39, 38, 38);
}